/* 헤더 스타일 */
header {
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    /* 직접 높이 조절 방식 */
    height: 80px;


}

/* 전체 컨테이너 */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* 헤더 내부 정렬 */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 로고 컨테이너 */
.logo-container {
    display: flex;
    align-items: center;
    gap: 8px; /* 이미지와 글자 사이 간격 */
}

/* 로고 이미지 스타일 */
.logo-img {
    height: 55px;
    width: auto;
}
.logo-img-text{
    height: 100px;
    width: auto;
}

/* 로고 글자 스타일 */
.logo {
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin: 0;
}

/* 네비게이션 스타일 */
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #555;
    font-size: 16px;
}

.search-bar {
    padding: 8px 12px;
    border: 1px solid #555;
    border-radius: 4px;
    margin-top: 6px;
}

.search-btn {
    padding: 10px 15px;
    margin-left: 10px;
    margin-top: 6px;
    background-color: #FF5C00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.search-btn:hover {
    background-color: #e64a19;
}

.search-btn:focus {
    outline: none;
}







