.register-btn {
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.register-btn:hover {
    background-color: #45a049;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.table th {
    background-color: #f2f2f2;
    color: #333;
}

.table tr:nth-child(even) {
    background-color: #fafafa;
}

.deactivate-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}

.deactivate-btn:hover {
    background-color: #c0392b;
}

.activate-btn {
    background-color: #bdc3c7; /* 흐릿한 회색 */
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}

.activate-btn:hover {
    background-color: #95a5a6;
}



.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 8px 12px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    transition: background 0.3s, color 0.3s;
}

.pagination a:hover {
    background: #ff5722;
    color: #fff;
    border-color: #ff5722;
}

.pagination .active {
    background: #ff5722;
    color: #fff;
    border-color: #ff5722;
    cursor: default;
}
