# FastAPI
fastapi[standard]

#
uvicorn
pandas
httpx
tiktoken
typing-extensions

# LangChain
pydantic==2.11.1
pydantic-settings==2.8.1
pydantic_core==2.33.0
langchain==0.3.23
langchain-chroma==0.2.3
langchain-community==0.3.20
langchain-core==0.3.52
langchain-openai==0.3.12
langchain-text-splitters==0.3.8
langchain-upstage==0.6.0

# Chroma DB
chromadb==0.6.3

# OpenAI SDK
openai==1.70.0

#
joblib
jinja2
scikit-learn
python-multipart

cryptography

