# FastAPI & Web
fastapi
uvicorn
python-multipart
jinja2
httpx
starlette

# Data & Encoding
pandas
numpy
scipy
tiktoken
typing-extensions
joblib
scikit-learn
pillow

# Machine Learning & AI
lightgbm==3.3.5
torch
torchvision
torchaudio

# Pydantic (LangChain 호환)
pydantic==2.11.1
pydantic-settings==2.8.1
pydantic_core==2.33.0

# LangChain Core
langchain==0.3.23
langchain-core==0.3.52
langchain-community==0.3.20
langchain-openai==0.3.12
langchain-upstage==0.6.0
langchain-text-splitters==0.3.8
langchain-chroma==0.2.3

# Chroma Vector DB
chromadb==0.6.3

# OpenAI SDK
openai==1.70.0

# DB & Crypto
pymysql==1.1.1
cryptography



